
// run pipeline in Docker container
docker.enabled = true
process.container = "liameabbott/reference-database"

// core parameters
params.database_directory = "s3://gates-mri-bioinformatics/reference-database"
params.source_database = null
params.release = null
params.species = null
params.assembly = null

// flags for different pipeline components
params.run_reference_data_ingestion = false
params.run_rsem_prepare_reference = true
params.run_star_indexing = false

// reference data ingestion parameters
params.fasta_url = null
params.gtf_url = null

// RSEM parameters
params.rsem_with_star = true
params.rsem_star_sjdb_overhang = 100

// STAR alignment index parameters
params.star_sjdb_overhang = 100
params.star_genomeSAindexNbases = 14
