
// run pipeline in Docker container
docker.enabled = true
process.container = "liameabbott/reference-database"

// core parameters
params.database_directory = "s3://gates-mri-bioinformatics/reference-database"
params.source_database = null
params.release = null
params.species = null
params.assembly = null

// reference data ingestion parameters
params.fasta_url = null
params.gtf_url = null

// STAR alignment index parameters
params.star_read_lengths = null
params.star_genomeSAindexNbases = 14
