
profiles {

    local {
        process {
            executor = 'local'
            cpus = 4
            memory = '16GB'
            conda = "${projectDir}/environment.yml"
        }
        params {
            // parameters for all modules
            database_directory = "${projectDir}/test/reference-database"
            source_database = 'ensembl'
            release = 101
            species = 'homo_sapiens'
            assembly = 'GRCh38'

            // flags to indicate which modules should run 
            data_ingestion = false
            star_index = false
            rsem_reference = false

            // reference data ingestion parameters
            fasta_url = null
            gtf_url = null

            // STAR index creation parameters
            star_sjdbOverhang = 100
            star_genomeSAindexNbases = 14
        }
    }

    bio {
        process {
            executor = 'local'
            cpus = 16
            memory = '64GB'
            conda = "${projectDir}/environment.yml"
        }
        params {
            // parameters for all modules
            database_directory = '/efs/bioinformatics/reference-database'
            source_database = null
            release = null
            species = null
            assembly = null
            
            // flags to indicate which modules should be run
            data_ingestion = false
            star_index = false
            rsem_reference = false

            // reference data ingestion parameters
            fasta_url = null
            gtf_url = null

            // STAR index creation parameters
            star_sjdbOverhang = 100
            star_genomeSAindexNbases = 14
        }
    }

    bio_dev {
        process {
            executor = 'local'
            cpus = 16
            memory = '64GB'
            conda = "${projectDir}/environment.yml"
        }
        params {
            // parameters for all modules
            database_directory = 's3://gates-mri-bioinformatics/PlayGround/liam/reference-database-dev'
            source_database = 'ensembl'
            release = 101
            species = 'homo_sapiens'
            assembly = 'GRCh38'
        
            // flags to indicate which modules should be run
            data_ingestion = true
            star_index = true
            rsem_reference = true

            // reference data ingestion parameters
            fasta_url = 'ftp://ftp.ensembl.org/pub/release-101/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz'
            gtf_url = 'ftp://ftp.ensembl.org/pub/release-101/gtf/homo_sapiens/Homo_sapiens.GRCh38.101.chr.gtf.gz'

            // STAR index creation parameters
            star_sjdbOverhang = 100
            star_genomeSAindexNbases = 14
        }
    }

}
